@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: rgba(196, 150, 150, 0.6);
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */

html {
    /* overflow-y: hidden; */
}
  
body {
    width: 100vw;
    height: 200vh;
    padding-top: 110px;
    background: url(./img/background.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: rgb(116, 77, 77);
    overflow-y: overlay;
}

/* Nawigacja */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    list-style: none;
    text-align: right;
    float: right;
    margin-top: 1rem;
}

li {
    display: inline;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin-right: 2rem;
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.6);
}

li a {
    display: block;
    color: rgb(89, 85, 87);
    text-align: center;
    padding: 0.6rem 3rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    font-family: 'Della Respira', serif;
    letter-spacing: 0.5px;
}

li:hover {
    background-color: rgba(196, 150, 150, 0.6);
    box-shadow: 0 0 5px 3px rgba(196, 150, 150, 0.6);
}

.img_nav {
    height: 6rem;
    width: 6rem;
    margin: 0.8rem 0 0 0.8rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.img_nav img {
    height: 4rem;
    margin: auto;
}

/* Main */

/* main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
} */

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.main_text {
    width: 30%;
    text-align: center;
}

.main_text h1 {
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.img_container img {
    width: 800px;
}

